:root {
  --primary: #d0bfff;
  --bg: rgb(240, 233, 197);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "poppins", sans-serif;
  background-color: var(--bg);
  color: rgb(31, 30, 30);

}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: #4d4c7d;
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: aqua;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* isi materi start*/
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/hp02.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0;
  background: linear-gradient(0deg, rgba(245, 238, 200, 1) 1%, rgb(255, 255, 255, 0) 20%);
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 3.5rem;
  color: #161414;
  text-shadow: 1px 1px 3px rgba(245, 238, 200, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: #4d4c7d;
}

.hero .content p {
  font-size: 1rem;
  margin-top: 1rem;
  line-height: 1.4;
  /* font-weight: 100; */
  text-shadow: 1px 1px 3px rgba(5, 5, 5, 0.5);
  /*     mix-blend-mode: difference; */
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: #4d4c7d;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(245, 238, 200, 0.5);
}
/* isi materi end */
/* about start */
.about,
.menu,
.contac {
  padding: 7rem 7% 1.4rem;
}

.about h2,
.menu h2,
.contac h2 {
  text-align: center;
  font-size: 2.6rm;
  margin-bottom: 3rem;
}

.about h2 span,
.menu h2 span,
.contac h2 span {
  color: #4d4c7d;
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8;
  margin-bottom: 1rem;
}

/* .about .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.6;
} */

.menu h2,
.contac h2 {
  margin-bottom: 1rem;
}

.menu p,
.contac p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-size: 1rem;
  line-height: 1, 6;
}
/* about end */
.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
  justify-content: center;
}

.menu .row .menu-card .map{
  text-align: center;
  padding-bottom: 8rem;
}

.menu .row .menu-card img {
  /* border-top: 10%; */
  width: 80%;
}

.menu .row .menu-card .menu-card-tittle {
  margin-top: 1rem auto 0.5rem;
}

/* propil start */
.map {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: sans-serif;
}
.title01 {
    color: gray;
    font-size: 18px;
}
/* propel end */
/* footer start*/
footer {
    background-color: var(--primary);
    text-align: center;
    padding: 1rem 0;
    margin-top: 3rem;
}

footer .sosials {
padding: 1rem 0;
}

footer .sosials a {
    color: #000000;
    margin: 1rem;
}

footer .socials a:hover 
footer  .links a:hover {
    color: var(--bg);
}

footer .links {
    margin-bottom: 1.4rem;
}


footer .links a {
    color: #000000;
    padding: 0.7rem 1rem;

}



/* footer end */
/* mediaqioris */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* tab */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #110f0f;
    width: 30rem;
    height: 100vh;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform: 0 0;
    -webkit-transform: 0 0;
    -moz-transform: 0 0;
    -ms-transform: 0 0;
    -o-transform: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
    -webkit-transform: scaleX(0.2);
    -moz-transform: scaleX(0.2);
    -ms-transform: scaleX(0.2);
    -o-transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  /* .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
} */

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 1.6rem;
  }

  .menu p {
    font-size: 1.2rem;
  }
}

/* hp */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
